<!--<h1>Test page - {{ vm.title }}</h1>-->

<div class="row">
  <div class="col-md-4 col-sm-12">
    <!--<div>
      <button class="btn btn-info" ng-click="vm.sendSon()">Send son to shop</button>
    </div>-->
    <!--<br/>
    <div example="btn-success" speed flight>This is superman</div>
    <div example="btn-danger" strength>This is man</div>-->
    <div class="infinity-scroll">
      <div class="container" affix start-class="affix-start" stop-class="affix-stop">
        <div class="affix-block col-md-4 col-sm-12">
          <div style="float: right; margin-top: 3px;">
            Non stop load
            <input type="checkbox" ng-model="vm.userMoreLoadNonStop"/>
          </div>
          <h3 style="margin-top: 0;">Infinity scroll <span>({{ vm.usersList.length }})</span></h3>
          <div style="margin-bottom: 5px;">
            <input type="text" class="form-control" ng-model="vm.search" placeholder="Search in infinity scroll list"/>
          </div>
        </div>
      </div>

      <div class="list-group" infinite-scroll="vm.loadMoreUsers('loadMoreBtn')">
        <div ng-repeat="user in vm.usersList | filter:vm.search">
          <div class="list-group-item">
            <div class="row-picture">
              <img class="circle" ng-src="{{ user.picture }}"/>
            </div>
            <div class="row-content">
              <h4 class="list-group-item-heading">({{ user.index + 1 }}) {{ user.name }}</h4>
              <p class="list-group-item-text">Eyes: {{ user.eyeColor }} :: Balance: {{ user.balance }}</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
        <div class="text-center" ng-show="vm.userMoreLoadHasMore">
          <button class="btn btn-primary" id="loadMoreBtn" ng-click="vm.loadMoreUsers('loadMoreBtn')" data-loading-text="<i class='glyphicon glyphicon-refresh gly-spin'></i> Processing Load">Load More</button>
        </div>
      </div>
    </div>
  </div>
  <form name="exampleForm">
  <div class="col-md-4 col-sm-12">
    <!--<div>
      <input type="text" name="ttitle" ng-model="ttitle"/>
      <div enter="ttitle" leave></div>
      {{ ttitle }}
    </div>-->
    <div ng-class="{'joined-block': vm.combo_pre == 'exampleForm'}">
      <div ng-class="{'joined-block': vm.combo_pre == 'combo_1'}">
        <div>combo_1</div>
        <input type="radio" ng-model="vm.combo_pre" value="combo_1" style="float: right; margin-left: 5px;"/>
        <select id="combo_1" name="combo_1" style="float: right; width: 150px;" ng-options="option.name for option in vm.combo_1.options track by option.id" ng-model="vm.combo_1.selected" custom-select external="ttitle"></select>
      </div>
      <div ng-class="{'joined-block': vm.combo_pre == 'combo_2'}">
        <div>combo_2</div>
        <input type="radio" ng-model="vm.combo_pre" value="combo_2" style="float: right; margin-left: 5px;"/>
        <select id="combo_2" name="combo_2" style="float: right; width: 150px;" ng-options="option.name for option in vm.combo_2.options track by option.id" ng-model="vm.combo_2.selected" custom-select external="ttitle"></select>
      </div>
      <div ng-class="{'joined-block': vm.combo_pre == 'combo_3'}">
        <div>combo_3</div>
        <input type="radio" ng-model="vm.combo_pre" value="combo_3" style="float: right; margin-left: 5px;"/>
        <select id="combo_3" name="combo_3" style="float: right; width: 150px;" ng-options="option.name for option in vm.combo_3.options track by option.id" ng-model="vm.combo_3.selected" custom-select external="ttitle"></select>
      </div>
      <div ng-class="{'joined-block': vm.combo_pre == 'combo_users'}">
        <div>combo_users</div>
        <input type="radio" ng-model="vm.combo_pre" value="combo_users" style="float: right; margin-left: 5px;"/>
        <select id="combo_users" name="combo_users" style="float: right; width: 150px;" ng-options="option.name for option in vm.combo_users.options track by option.id" ng-model="vm.combo_users.selected" custom-select></select>
      </div>
      <div>
        <br/>
        <input type="radio" ng-model="vm.combo_pre" value="exampleForm" style="float: right; margin-left: 5px;"/>
        <div>exampleForm</div>
      </div>
    </div>

    <!--<div>
      <button class="btn btn-primary" ng-click="vm.toggle = !vm.toggle">Toggle animation</button>
      {{ vm.toggle }}
      &lt;!&ndash;<div class="panel animate" ng-class="{'active': vm.toggle}" ng-if="vm.toggle">
        <div class="panel-body">
          Hello animation
        </div>
      </div>&ndash;&gt;
      <div class="panel animate-new" ng-class="{'active': vm.toggle}" ng-show="vm.toggle">
        <div class="panel-body">
          Hello animation
        </div>
      </div>
    </div>-->

  </div>
  <div class="col-md-4 col-sm-12">
    <div ng-show="vm.combo_pre == 'combo_1'">
      <div>combo_1</div>
      <pre style="max-height: 400px; overflow-y: auto;">{{ exampleForm.combo_1 | json }}</pre>
    </div>
    <div ng-show="vm.combo_pre == 'combo_2'">
      <div>combo_2</div>
      <pre style="max-height: 400px; overflow-y: auto;">{{ exampleForm.combo_2 | json }}</pre>
    </div>
    <div ng-show="vm.combo_pre == 'combo_3'">
      <div>combo_3</div>
      <pre style="max-height: 400px; overflow-y: auto;">{{ exampleForm.combo_3 | json }}</pre>
    </div>
    <div ng-show="vm.combo_pre == 'combo_users'">
      <div>combo_users</div>
      <pre style="max-height: 400px; overflow-y: auto;">{{ exampleForm.combo_users | json }}</pre>
    </div>
    <div ng-show="vm.combo_pre == 'exampleForm'">
      <div>exampleForm</div>
      <pre style="max-height: 400px; overflow-y: auto;">{{ exampleForm | json }}</pre>
    </div>
  </div>
  </form>
</div>